/*
*
* Custom CSS Styles
*
*/

@media only screen and (max-width: 500px) and (orientation:portrait) {
	
	.space4{
		height: 0px;
	}
	.space4{
		height: 50px;
	}
}

@media only screen and (max-width: 800px) and (orientation:portrait) {
	
	.space4{
		height: 30px;
	}
	.space4{
		height: 20px;
	}
}

@media screen and (max-width: 800px) and (orientation:landscape) {
	
	.space4{
		height: 100px;
	}
	.space4{
		height: 0px;
	}
}

@media screen and (min-width:800px) {
	
	.space4{
		height: 190px;
	}
	.space4{
		height: 0px;
	}
}

ul{
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.showcase1 {
    height: 535px;
    padding-top: 40px;
    text-align: center;
    border-bottom: #ccc 1px solid;
    margin-bottom: 30px;
    color: #fff;
    background: url('../img/background-image14.jpg') top center;
    background-size: cover;
    display: flex;
	}

.showcase2 {
    height: 535px;
    padding-top: 40px;
    text-align: center;
    border-bottom: #ccc 1px solid;
    color: #fff;
    background: url('../img/background-image16.jpg') center center;  
    background-size: cover;
	}

.showcase3 {
    height: 535px;
    padding-top: 40px;
    text-align: center;
    border-bottom: #ccc 1px solid;
    color: #fff;
    background: url('../img/background-image18.jpg') center;
	background-size: cover;
	display: flex;
}

.showcase4 {
    height: 535px;
    padding-top: 40px;
    text-align: center;
    border-bottom: #ccc 1px solid;
    color: #fff;
    background: url('../img/background-image6.jpg') center center;  
    background-size: cover;  
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.img-circle{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 300px;
	height: 300px;
    }

.img-rectangle{
    width: 300px;
    height: 300px;
    }

.space1{
    height: 25px;
}
    
.space2{
    height: 115px;
}

.space3{
    height: 135px;
}
img{
	image-orientation: from-image;
}
}